<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}" />

<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}apple-touch-icon.png?ver={{ site.data.versions.favicon }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}favicon-32x32.png?ver={{ site.data.versions.favicon }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl }}android-chrome-192x192.png?ver={{ site.data.versions.favicon }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}favicon-16x16.png?ver={{ site.data.versions.favicon }}">
<link rel="manifest" href="{{ site.baseurl }}site.webmanifest?ver={{ site.data.versions.favicon }}">
<link rel="mask-icon" href="{{ site.baseurl }}safari-pinned-tab.svg?ver={{ site.data.versions.favicon }}" color="#212121">
<link rel="shortcut icon" href="{{ site.baseurl }}favicon.ico?ver={{ site.data.versions.favicon }}">
<meta name="msapplication-TileColor" content="#212121">
<meta name="msapplication-TileImage" content="{{ site.baseurl }}mstile-144x144.png?ver={{ site.data.versions.favicon }}">
<meta name="theme-color" content="#1A1A1A">

<meta name="robots" content="index, nofollow" />
<meta name="googlebot" content="index, nofollow" />
<meta name="google" content="nositelinkssearchbox" />
<meta name="google" content="translate" />
<meta name="rating" content="safe for kids" />
<meta name="format-detection" content="telephone=no" />

<!-- TODO: https://github.com/joshbuchea/HEAD#social -->

<!-- TODO: https://github.com/joshbuchea/HEAD#browsers--platforms & https://github.com/joshbuchea/HEAD#browsers-chinese -->

<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/{{ site.data.versions.normalize }}/normalize.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/{{ site.data.versions.font-awesome }}/css/font-awesome.min.css" rel="stylesheet" />
<link href="{{ site.baseurl }}assets/styles/bootstrap.min.css?ver={{ site.data.versions.bootstrap }}" rel="stylesheet" />
<link href="{{ site.baseurl }}assets/styles/mdb/mdb.css?ver={{ site.data.versions.material-design-bootstrap }}" rel="stylesheet" />
<link href="{{ site.baseurl }}assets/styles/own.css?ver={{ site.data.versions.general }}@{{ site.time | date: "D%d%m%YT%H%M%S" }}" rel="stylesheet" />
