<script src="https://wurfl.io/wurfl.js?ver={{ site.data.versions.wurfl }}"></script>
<script src="{{ site.baseurl }}assets/scripts/jquery-{{ site.data.versions.jquery }}.min.js"></script>
<script src="{{ site.baseurl }}assets/scripts/popper.min.js?ver={{ site.data.versions.popper }}"></script>
<script src="{{ site.baseurl }}assets/scripts/bootstrap.min.js?ver={{ site.data.versions.bootstrap }}"></script>
<script src="{{ site.baseurl }}assets/scripts/mdb.min.js?ver={{ site.data.versions.material-design-bootstrap }}"></script>
<script src="https://cdn.jsdelivr.net/npm/particles.js@{{ site.data.versions.particles }}/particles.min.js"></script>
<script src="{{ site.baseurl }}assets/scripts/own.js?ver={{ site.data.versions.general }}@{{ site.time | date: "D%d%m%YT%H%M%S" }}"></script>
